@font-face {
  font-family: "iconfont"; /* Project id 3547743 */
  src: url('../fonts/iconfont.woff2?t=1658820298315') format('woff2'),
       url('../fonts/iconfont.woff?t=1658820298315') format('woff'),
       url('../fonts/iconfont.ttf?t=1658820298315') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixiu:before {
  content: "\e602";
}

.icon-aichegujiabeifen7:before {
  content: "\e603";
}

.icon-xinchebaojia:before {
  content: "\e604";
}

.icon-wodekanjia:before {
  content: "\e605";
}

