.box{
    width: 100px;
    height: 100px;
background-image: url("../images/1.webp");
background-size: cover;
}
.box3{
    width: 100px;
    height: 100px;
background-image: url("../images/3.webp");
background-size: cover;
}